:root {
    --text-color: white;
    --gray: rgba(63, 63, 63, 0.363);
    --blue-gradient1: #00336E;
    --blue-gradient2: #008BB1;
    --black-gradient1: #151515;
    --black-gradient2: #292929;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headerContainer {
    background-color: #090912;
    background-image: url("./img/background/Terra.png");
    background-size: auto 29rem;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introduction {
    color: var(--text-color);
    width: 45rem;
    text-align: center;
}

header {
    background-color: rgba(47, 47, 47, 0.532);
    border-radius: 0.5rem;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0.5rem;
    width: 99%;
    height: 4rem;
    display: flex;
}

.leftHeaderDiv {
    width: 50%;
    height: 4rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftHeaderDiv span {
    color: var(--text-color);
}

.leftHeaderDiv div a {
    text-decoration: none;
}

.rightHeaderDiv {
    width: 50%;
    height: 4rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
}

.headerLinks {
    background-color: var(--gray);
    color: var(--text-color);
    font-size: 0.8rem;
    width: 6rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 2rem;
}

main {
    background-color: var(--blue-gradient2);
    background-image: linear-gradient( 45deg, var(--blue-gradient1), var(--blue-gradient2));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65vw;
}

.about img {
    width: 10rem;
    height: 10rem;
}

.aboutText {
    color: var(--text-color);
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.tecnologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.tecnologies span {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.tecnologies div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.tecnologieImg {
    height: 5rem;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.projectsContainer span {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.project {
    border: solid white 0.3rem;
    padding: 0.5rem;
    width: 20rem;
    border-radius: 0.4rem;
    display: flex;
}

.project img {
    width: 100%;
}

footer {
    background-color: var(--black-gradient1);
    background-image: linear-gradient(to right, var(--black-gradient1), var(--black-gradient2));
    height: 10rem;
}